# IDE & Virtual Environment
.idea/
venv/
.env/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Prebuilt Database
dbs/

#Dataset
dataset/

#Results
results/

# YARA Rules
yargen_rules.yar
